chat.udin.web.id {
  reverse_proxy chat-nuxt:3001
}

chat-server.udin.web.id {
  reverse_proxy chat-server:3000

  header {
    Access-Control-Allow-Origin "*"
    Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Access-Control-Allow-Headers "Content-Type, Authorization, *"
  }
}